{% extends "base.html" %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="stream_holder">
			<div class="container-fluid">
				<div class="stream_info">
					<div class="media stream_mediainline pull-left">
					  <a class="pull-left" href="#">
					    <img class="media-object" width="40px"src="{% static "img/team/team_logo_evil_geniuses.jpg" %}" alt="Evil Geniuses' Team Logo">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading stream_title">{{broadcaster.stream_title}}</h4>
					    <p class="stream_description">{{broadcaster.user}} playing {{broadcaster.stream_game}}{% ifnotequal broadcaster.stream_team "No Team" %} on team {{broadcaster.stream_team}}{% endifnotequal %}</p>
					  </div>
					</div>
					<p class="stream_viewers inline pull-right stream_info_viewers"><i class="glyphicon glyphicon-user"></i>	47,352</p>
				</div>
				{% if broadcaster.stream_online %}
				<div class="video-container">
					<video id="stream_video" class="video-js vjs-default-skin vjs-big-play-centered" controls data-setup='{}' preload="auto" width="100%">
						<source src="{% static "hobbit.mkv" %}" type='video/mp4'>
					</video>
				</div>
				{% else %}
				<h1>Offline</h1>
				{% endif %}
			</div>
		</div>
		<div class="chat_holder">
			<div class="chat_header">
				<h5>{{broadcaster.user}}'s Chat <i class="glyphicon glyphicon-comment"></i></h5>
			</div>
			<div class="container-fluid">
				<div class="chat">
					<h3>IRC's buggered</h3>
				</div>
				<div class="chat_input">
					<textarea class="form-control chat_input_box inline pull-left" rows="3"></textarea>
					<button class="btn btn-primary chat_input_button inline pull-right ">Send</button>
				</div>

			</div>

		</div>
	</div>
</div>

<script type="text/javascript">
	     // Once the video is ready
    _V_("#stream_video").ready(function(){
      
      // Store the video object
      var myPlayer = this; 
      // Make up an aspect ratio
      var aspectRatio = 9/16; 

      function resizeVideoJS(){
        var width = document.getElementById('stream_video').parentElement.offsetWidth;
        myPlayer.width(width).height( width * aspectRatio );

      }
      
       // Initialize resizeVideoJS()
      resizeVideoJS();
      // Then on resize call resizeVideoJS()
      window.onresize = resizeVideoJS; 

    });

</script>

{% endblock %}