{% extends "base.html" %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="stream_holder">
			<div class="container-fluid">
				<div class="stream_info">
					<div class="media stream_mediainline pull-left">
					  <a class="pull-left" href="#">
					    <img class="media-object" width="40px"src="{% static "img/team/team_logo_evil_geniuses.jpg" %}" alt="Evil Geniuses' Team Logo">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading stream_title">{{broadcaster.stream_title}}</h4>
					    <p class="stream_description">{{broadcaster.user}} playing {{broadcaster.stream_game}}{% ifnotequal broadcaster.stream_team "No Team" %} on team {{broadcaster.stream_team}}{% endifnotequal %}</p>
					  </div>
					</div>
					<p class="stream_viewers inline pull-right stream_info_viewers"><i class="glyphicon glyphicon-user"></i>	47,352</p>
				</div>
				{% if steam_online %}
					<img src="http://placehold.it/1920x1080">
					<!--<video id="video_player" class="video-js vjs-default-skin" controls preload="auto" data-setup="{}" poster="http://video-js.zencoder.com/oceans-clip.png" autoplay>';
						<source src="' . readlink($stream_user->username) . '" type="application/x-mpegURL" />';
						<source src="http://192.168.88.234seq/videos/' . strtolower($stream_user->username) . '/index.m3u8" type="application/x-mpegURL" />';
					</video>';-->
				{% else %}
					<h1>Offline</h1>
				{% endif %}
			</div>
		</div>
		<div class="chat_holder">
			<div class="chat_header">
				<h5>{{broadcaster.user}}'s Chat <i class="glyphicon glyphicon-comment"></i></h5>
			</div>
			<div class="container-fluid">
				<div class="chat">
					<h3>IRC's fucked</h3>
				</div>
				<div class="chat_input">
					<textarea class="form-control chat_input_box inline pull-left" rows="3"></textarea>
					<button class="btn btn-primary chat_input_button inline pull-right ">Send</button>
				</div>

			</div>

		</div>
	</div>
</div>

<style>
body {
	padding-top: 65px;
}
</style>

<script type="text/javascript">
	videojs.options.flash.swf = 'video-js.swf';
  // Once the video is ready
  _V_("video_player").ready(function(){
    var myPlayer = this;    // Store the video object
    var aspectRatio = 9/16; // Make up an aspect ratio

    function resizeVideoJS(){
      // Get the parent element's actual width
      var width = document.getElementById(myPlayer.U).parentElement.offsetWidth;
      // Set width to fill parent element, Set height
      myPlayer.width(width-30).height( width * aspectRatio );
    }

    resizeVideoJS(); // Initialize the function
    window.onresize = resizeVideoJS; // Call the function on resize
  });
</script>

{% endblock %}